<ion-header translucent="true">
    <ion-toolbar class="titulo">
      <ion-title>Proyectos</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content fullscreen="true">
    <div>
      <div id="proyecto1">
        <h4>Proyecto 1</h4>
        <p>
          nombre: Desarrollo de un juego de rol en línea<br>
          ficha: 2503816<br>
          estado: en progreso<br>
          descripción: Este proyecto se enfoca en crear un juego de rol en línea con un vasto mundo abierto, combates emocionantes y una historia épica.
        </p>
      </div>
      <div id="proyecto2">
        <h4>Proyecto 2</h4>
        <p>
          nombre: Diseño de niveles para un juego de plataformas<br>
          ficha: 123456<br>
          estado: completado<br>
          descripción: En este proyecto, se diseñaron y crearon diferentes niveles desafiantes para un juego de plataformas, incluyendo trampas, enemigos y puzzles.
        </p>
      </div>
      <div id="proyecto3">
        <h4>Proyecto 3</h4>
        <p>
          nombre: Creación de arte conceptual para un juego de acción<br>
          ficha: 789012<br>
          estado: en pausa<br>
          descripción: Este proyecto se centró en la creación de arte conceptual, incluyendo personajes, escenarios y armas, para un emocionante juego de acción en tercera persona.
        </p>
      </div>
      <div id="proyecto4">
        <h4>Proyecto 4</h4>
        <p>
          nombre: Implementación de inteligencia artificial en un juego de estrategia<br>
          ficha: 345678<br>
          estado: en progreso<br>
          descripción: En este proyecto, se está trabajando en la implementación de algoritmos de inteligencia artificial para mejorar la jugabilidad y los desafíos en un juego de estrategia por turnos.
        </p>
      </div>
      <div id="proyecto5">
        <h4>Proyecto 5</h4>
        <p>
          nombre: Desarrollo de un juego de realidad virtual para dispositivos móviles<br>
          ficha: 901234<br>
          estado: planificado<br>
          descripción: Este proyecto tiene como objetivo crear un emocionante juego de realidad virtual diseñado específicamente para dispositivos móviles, brindando una experiencia inmersiva y única a los jugadores.
        </p>
      </div>
      <div id="Botones">
        <button class="custom-button" (click)="navigateToHojaDeVida()">volver</button>
      </div>
    </div>
  </ion-content>
  
