div {
    color: black;
  }
  
  div h4 {
    text-align: center;
  }
  
  div p {
    align-items: center;
    text-align: center;
    margin-top: 10px;
  }
  
  #proyecto1 {
    background-color: #ff8080; /* Color 1 */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);

  }
  
  #proyecto2 {
    background-color: #80b3ff; /* Color 2 */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);

  }
  
  #proyecto3 {
    background-color: #ffb380; /* Color 3 */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);

  }
  
  #proyecto4 {
    background-color: #b380ff; /* Color 4 */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);

  }
  
  #proyecto5 {
    background-color: #b3ffb3; /* Color 5 */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);

  }
  
  #Botones {
    text-align: center;
  }
  
  .custom-button {
    width: 80px;
    height: 40px;
    background-color: black;
    color: aqua;
  }

  .titulo ion-title {
    text-align: center;
  }